.container{
    width: 750px;
    margin: 0 auto;
    padding-bottom: 100px;

    & h1 {
        margin-top: -100px;
        text-decoration: underline;
    }

    &.mobile{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 10px;

        & h1{
            margin-top: -30px;
        }

        & .wrapper {
            flex-direction: column;
        }

        & .inner {
            padding: 0px;
            text-align: center;

            & .sub-menu {
                text-align: start;
            }
        }

        & .btn {
            width: 100%;
            margin-top: 20px;
        }
    }

    & mat-error {
        color: #00144C;
        opacity: 1;
        line-height: 14px;
    }
}