.container{
    width: 1200px;
    height: 100vh;
    padding-top: 200px;

    & mat-form-field{
        margin: 0px 20px 30px 20px;
    }

    & th {
        width: auto;
        padding: 0px 25px;
    }

    &.mobile {
        padding-top: 100px;
        display: block;

        & mat-form-field{
            margin: 0px 20px 20px 20px;
            width: 90%;
        }
    }
}